body {
  background-image: url("backround.jpg");
}
h1 {
  color: purple;
  margin-left: 20px;
  background-color: aquamarine;
}
#MNBAR {
  text-align: center;
  color: red;
  background-color: lightblue;
}
#ADTEXT{
  color: red;
}
